:root {
    --p-font-size: 1.1rem;
    --p-font-weight: 400;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    text-align: left;
    max-width: 50rem;
    margin: 0 auto;
    margin-bottom: 4rem;
}
h1 {
    font-size: 1.9rem;
    font-weight: 500;
    color: black
}
h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: red;
}
h3 {
    font-size: 1.3rem;
    font-weight: 425;
    color: blue;
}
h4 {
    font-size: 1.2rem;
    font-weight: 400;
    color: forestgreen;
}
p {
    font-size: var(--p-font-size);
    font-weight: 350;
    color: black;
} 
a {
    font-size: var(--p-font-size);
    font-weight: 350;
    color: red;
}
ul {
    font-size: var(--p-font-size);
    font-weight: 350;
    color: black;
}
li {
    font-size: var(--p-font-size);
    font-weight: 350;
    color: black;
}
strong {
    font-size: var(--p-font-size);
    color: black;
}

.deprecated {
    color: purple;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.center-top {
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}
.greater-factions-explanation {
    font-size: var(--p-font-size);
    font-weight: 350;
    color: white;
}
.factions-celestials-p {
    font-size: var(--p-font-size);
    font-weight: 350;
    color: white;
}
.factions-soul-p {
    font-size: var(--p-font-size);
    font-weight: 350;
    color: white;
}
.factions-higher-p {
    font-size: var(--p-font-size);
    font-weight: 350;
    color: white;
}
.factions-lower-p {
    font-size: var(--p-font-size);
    font-weight: 350;
    color: white;
}
.factions-middle-p {
    font-size: var(--p-font-size);
    font-weight: 350;
    color: white;
}
.factions-abyss-p {
    font-size: var(--p-font-size);
    font-weight: 350;
    color: white;
}
.factions-resonance-p {
    font-size: var(--p-font-size);
    font-weight: 400;
    color: white;
}
.void-main-h2 {
    font-size: 1.52rem;
    font-weight: 600;
    background: linear-gradient(#6c13a4,#9518e2,#5b175d);
    color: transparent;
    background-clip: text;
}
.void-main-p {
    font-size: var(--p-font-size);
    font-weight: var(--p-font-weight);
    background: linear-gradient(to left, #9f20ee,#5b175d);
    color: transparent;
    background-clip: text;
}
.corrupting-void-h3 {
    font-size: 1.35rem;
    font-weight: 550;
    background: linear-gradient(#A927F5, #8405CE);
    color: transparent;
    background-clip: text;
}
.pure-void-h3 {
    font-size: 1.35rem;
    font-weight: 550;
    background: linear-gradient(#1b70a1,#1b70a1,#4ecfcf,#13ad7a);
    color: transparent;
    background-clip: text;
}
.true-void-h3 {
    font-size: 1.4rem;
    font-weight: 550;
    color: white;
}
.corrupting-void-p {
    font-size: var(--p-font-size);
    font-weight: var(--p-font-weight);
    background: linear-gradient(to left,#A927F5, #8405CE);
    color: transparent;
    background-clip: text;
}
.pure-void-p {
    font-size: var(--p-font-size);
    font-weight: var(--p-font-weight);
    background: linear-gradient(to bottom right,#1b70a1,#1b70a1,#4ecfcf,#13ad7a,#13ad7a);
    color: transparent;
    background-clip: text;
}
.true-void-p {
    font-size: var(--p-font-size);
    font-weight: var(--p-font-weight);
    color: white;
}
.true-void-namespace {
    color: black;
    text-shadow:
        -0.05rem -0.05rem 0 #fff,
        -0.05rem 0.05rem 0 #fff,
        0.05rem -0.05rem 0 #fff,
        0.05rem 0.05rem 0 #fff
}
.dark-mode-a {
    font-size: var(--p-font-size);
    font-weight: var(--p-font-weight);
    color: tomato;
}
.demonic-void-gradient {
    font-size: var(--p-font-size);
    font-weight: var(--p-font-weight);
    background: linear-gradient(to bottom right,#b00000,#a10b0b,#800d0d);
    color: transparent;
    background-clip: text;
}

.finish-article {
    font-size: var(--p-font-size);
    font-weight: var(--p-font-weight);
    background: radial-gradient(farthest-corner circle,#2eff4b,#eeff6b);
    color:transparent;
    background-clip: text;
}
/*Hearts Of Darkness*/
#heart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
/*factions*/
#factions-html {
    background: black;
}
